[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/comradedakota/hugo-theme-bootstrap.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
